* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
  font-size: calc(60% + 0.8vmin);
}

body{
 overscroll-behavior-y: contain;
 font-family: Arial, Helvetica, sans-serif;
 overflow-x: hidden;
}

/* header/navbar */
nav.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem;
    padding: 1rem 1.1rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    
}

div.logo {
    font-size: 1.8rem;
    
}

div.logo strong {
    font-size: 2rem;
}

div.nav-links {
    margin: auto 0;
}

i.fa-angle-down {
    color: #eee;
}

i.fa-angle-up {
    display: none;
}

div.nav-links ul.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul.main-menu > li {
    margin: 0 1.3rem;
}

ul.main-menu a,
li.contact-sales {
    color: #000;
    font-size: 1.1rem;
}

button.navbar-button {
    
    background-color: #00bab3;
    border-radius: 5px;
    
    padding: 0.8rem 0.5rem;
    border: 0;
    outline: none;
}

button.navbar-button:hover {
    background-color: #059c97ad;
}

button.navbar-button a {
    font-weight: bold;
    color: #fff;
}

/* ****sub-menus**** */
/* contact sales submenu ================================*/
li.contact-sales {
    position: relative;
}

li.contact-sales a:hover {
    color: #147bd1;
    padding-bottom: 4rem;
}

li.contact-sales:hover .fa-angle-down {
    
    transform: rotate(-180deg);
    transition: 0.5s ease;
    color: #147bd1;
}

li.contact-sales:hover ul.contact-sales-sub-menu {
    display: block;
    transition: 1s ease-in-out;
}

ul.contact-sales-sub-menu {
    position: absolute;
    display: none;
    width: 20rem;
    background-color: #fff;
    top: 4rem;
    left: -6.5rem;
    
    padding: 0rem 0rem;
}

ul.contact-sales-sub-menu > li {
    margin: 0.5rem 0;
    padding: 1rem 0;
}

ul.contact-sales-sub-menu > a {
    padding-left: 1rem;
}

ul.contact-sales-sub-menu li:last-of-type {
    background-color: rgb(224, 224, 224);
    padding: 1rem 0;
}

div.underline {
    width: 100%;
    height: 0.04rem;
    background: #eee;
    
}

div.all-contacts {
    background: rgba(238, 238, 238, 0.842);
    padding: 1rem 0;
}

div.all-contacts a {
    font-weight: bold;
}

div.all-contacts a:hover {
    color: #147bd1;
}

/* company submenu============================ */
li.company {
    position: relative;
}

/* submenu logic */
li.company a:hover {
    color: #147bd1;
    padding-bottom: 4rem;
}

li.company:hover .fa-angle-down {
    transform: rotate(-180deg);
    transition: 0.5s ease;
    color: #147bd1;
}

li.company:hover div.company-sub-menu {
    display: block;
    transition: 1s ease-in-out;
}

div.company-sub-menu li a:hover {
    color: #147bd1;
}

/* end of submenu logic */

div.company-sub-menu {
    position: absolute;
    display: none;
    top: 4rem;
    right: -35rem;
    width: 90rem;
    background-color: #fff;
    
}

div.company-sub-menu > h2 {
    margin-top: 3rem;
    
    margin-left: 1rem;
}

div.company-sub-menu div.underline {
    margin: 1rem 0;
}

div.about-menu-container {
    display: flex;
    margin-left: 1rem;
}


ul.about-left-menu {
    margin-right: 5rem;
}

ul.about-left-menu li {
    margin: 1.5rem 0;
}

ul.about-right-menu {
    margin-left: 5rem;
}

ul.about-right-menu li {
    margin: 1.5rem 0;
}

div.about-footer {
    display: flex;
    padding: 1.5rem 0;
    
    background-color: #eee;
}

div.about-footer > p {
    margin-left: 1rem;
}

div.about-footer p {
    margin-right: 3rem;
    color: #666;
    font-weight: bold;
}

/* partners submenu ==========================*/
li.partners {
    position: relative;
}

/* submenu logic */
li.partners a:hover {
    color: #147bd1;
    padding-bottom: 4rem;
}

li.partners:hover .fa-angle-down {
    transform: rotate(-180deg);
    transition: 0.5s ease;
    color: #147bd1;
}


li.partners:hover div.partners-sub-menu {
    display: block;
    transition: 1s ease-in-out;
}

div.partners-sub-menu li a:hover {
    color: #147bd1;
}

/* end of submenu logic */

div.partners-sub-menu {
    position: absolute;
    
    display: none;
    top: 4rem;
    left: -36rem;
    width: 90rem;
    background-color: #fff;
    
}

div.partners-sub-menu > h2 {
    margin-top: 3rem;
    
    margin-left: 1rem;
}

div.partners-sub-menu div.underline {
    margin: 1rem 0;
}

/* resources menu======================= */
li.resources {
    position: relative;
}

/* submenu logic */
li.resources a:hover {
    color: #147bd1;
    padding-bottom: 4rem;
}

li.resources:hover .fa-angle-down {
    transform: rotate(-180deg);
    transition: 0.5s ease;
    color: #147bd1;
}


li.resources:hover div.resources-sub-menu {
    display: block;
    transition: 1s ease-in-out;
}

div.resources-sub-menu li a:hover {
    color: #147bd1;
}

/* end of submenu logic */

div.resources-sub-menu {
    position: absolute;
    
    display: none;
    top: 4rem;
    left: -27rem;
    width: 90rem;
    background-color: #fff;
    
}

div.resources-sub-menu h2 {
    margin-top: 3rem;
}

div.resources-sub-menu div.underline {
    margin: 1rem 0;
}

ul.learn-menu .underline,
ul.customer-success-menu .underline,
div.featured-topics .underline {
    width: 100%;
}

ul.learn-menu {
    margin-right: 9rem;
}

ul.learn-menu li {
    margin: 1.5rem 0;
}

ul.customer-success-menu {
    margin-right: 9rem;
}

ul.customer-success-menu li {
    margin: 1.5rem 0;
}

div.featured-topics-menu {
    display: flex;
}

div.featured-topics-menu ul:first-of-type {
    margin-right: 9rem;
}

div.featured-topics-menu li {
    margin: 1.5rem 0;
}

/* solutions submenu================== */
li.solutions {
    position: relative;
}

/* submenu logic */
li.solutions a:hover {
    color: #147bd1;
    padding-bottom: 4rem;
}

li.solutions:hover .fa-angle-down {
    transform: rotate(-180deg);
    transition: 0.5s ease;
    color: #147bd1;
}


li.solutions:hover div.solutions-sub-menu {
    display: block;
    transition: 1s ease-in-out;
}

div.solutions-sub-menu li a:hover {
    color: #147bd1;
}

/* end of submenu logic */
div.solutions-sub-menu {
    position: absolute;
    
    display: none;
    top: 4rem;
    left: -19rem;
    width: 90rem;
    background-color: #fff;
    
}

div.by-use-menu h2 {
    margin-top: 3rem;
}

div.by-role-menu {
    margin-left: 6rem;
}

div.by-role-menu h2 {
    margin-top: 3rem;
}

div.by-use-menu div.underline,
div.by-role-menu div.underline {
    margin: 1rem 0;
    width: 100%;
}

div.by-use-menu-left {
    margin-right: 6rem;
}

/* product submenu==================== */
li.product {
    position: relative;
}

/* submenu logic */
li.product a:hover {
    color: #147bd1;
    padding-bottom: 4rem;
}

li.product:hover .fa-angle-down {
    transform: rotate(-180deg);
    transition: 0.5s ease;
    color: #147bd1;
}


li.product:hover div.product-sub-menu {
    display: block;
    transition: 1s ease-in-out;
}

div.product-sub-menu li a:hover {
    color: #147bd1;
}

/* end of submenu logic */

div.product-sub-menu {
    position: absolute;
    
    display: none;
    top: 4rem;
    left: -12rem;
    width: 90rem;
    background-color: #fff;
}

div.product-sub-menu h2 {
    margin-top: 3rem;
}

div.product-sub-menu div.underline {
    margin: 1rem 0;
    width: 100%;
}

ul.overview-menu {
    margin-right: 9rem;
}

ul.overview-menu li {
    margin: 1.5rem 0;
}

ul.where-to-start-menu {
    margin-left: 9rem;
}

ul.where-to-start-menu li {
    margin: 1.5rem 0;
}

